//BASE COLORS
$color-b02: #FEC7DD;
$color-b03: #F1AFC9;
$color-b04: #EAA0BD;
$color-b05: #DB8CAB;
$color-b06: #D27B9D;
$color-b07: #C0688A;
$color-b08: #BA577D;
$color-b09: #B0466E;
$color-b10: #9E325B;
$color-b11: #8D214A;
$color-b12: #6A082D;

//SUPPORT COLORS
$color-s01: #FFFEFA;
$color-s02: #F1F1ED;
$color-s03: #E6E5E1;
$color-s04: #CCCBC8;
$color-s05: #B3B2AF;
$color-s06: #999896;
$color-s07: #807F7D;
$color-s08: #666664;
$color-s09: #4D4C4B;
$color-s10: #333332;
$color-s11: #1A1919;
$color-s12: #050505;

//EMPHASIS COLORS
$color-e01: #C3F7FF;
$color-e02: #9CEDFA;
$color-e03: #83DEEC;
$color-e04: #6DCFDE;
$color-e05: #55C3D4;
$color-e06: #3DA9BA;
$color-e07: #2A96A7;
$color-e08: #1C7F8D;
$color-e09: #106C79;
$color-e10: #095A65;
$color-e11: #064B55;
$color-e12: #02353C;

 